name: Build
on: [push, pull_request]
jobs:
  android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        uses: zezis/buildozer-action@v1
        with:
          command: buildozer android debug
          repository_root: .
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
